{
  "extends": [
    "@sparkgeo/eslint-config-react"
  ],
  "rules": {
    "camelcase": "off",
    "no-underscore-dangle": "off",
    "no-undef": "off",
    "object-shorthand": "off",
    "react/state-in-constructor": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-boolean-value": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_" // ignore unused vars and args that start with _. These vars are unsued, but named for readability/maintainability of code.
      }
    ],
    "no-useless-return": "off"
  },
  "plugins": ["react-hooks"]
}
